@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tw-animate-css";


body {
  background: #0A0A0A;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
}